<article>
  <h2>Title: <%= @question.title %></h2>
  <summary>asked by: <i><%= @question.author.username %></i> at <%= @question.created_at.to_time %></summary>
  <p><%= @question.body %></p>
<h3>Answers</h3>
<% if @question.answers.any? %>
  <ol>
    <% @question.answers.each do |answer| %>
      <%= erb(:'answers/show', locals: {answer: answer }, layout: false )  %>
    <% end %>
  </ol>
<% end %>
</article>


