<div class="show-answer"><li id="<%= answer.id %>"><% if answer.question.best_answer_id == answer.id%><%= "BEST ANSWER: " %><% end %><%= answer.body %> -<a href="/users/<%=answer.responder.id%>"><%= answer.responder.username %></a>
</li></div>
<br>
<% commentable_type = 'Answer' %>
<% commentable_id = answer.id %>
<div class='answer-votes'>
  <div id="score-comment" "answer">
    <form method="POST", action="/questions/<%= @question.id %>/answers/<%= answer.id %>/votes" class="vote">
      <button id="upvote" type="submit" name="vote" value="1"><font color='"#000000"'>&#9650;</font>
    </form></button>

    <br>
     <i>Vote score:</i> <%= answer.votes.pluck(:vote).sum %>
    <br>
    <br>
    <form method="POST", action="/questions/<%= @question.id %>/answers/<%= answer.id %>/votes" class="vote">
      <button id="downvote" type="submit" name="vote" value="-1"><font color='"#000000"'>&#9660;</font></button>

    </form>
   </div>
   <% if logged_in? %>
    <% if (current_user == answer.question.author) && (answer.id != answer.question.best_answer_id) %>
      <div class='mark-best-answer'>
        <form method="post" action="/questions/<%= answer.question.id %>">
          <input type="hidden" name="_method" value="put">
          <input type="hidden" name="best_answer" value="<%= answer.id %>">
          <input type="submit" name="best" value="mark best answer">
        </form>
      </div>
    <% end %>
   <% end %>
<%= erb :'comments/new_comment_form', layout: false, locals: { commentable_type: commentable_type, commentable_id: commentable_id} %>
<br>
    <ol class="answer-comment-list">
<% if answer.comments.any? %>
    <% answer.comments.each do |comment| %>
      <%= erb :'comments/comment', {layout: false, locals: {comment: comment} } %>
    <% end %>
<% end %>
    </ol>
<hr>
<br>
