<li id="<%= answer.id %>" <%= if answer.best; "style='color: red'"; end %>><%= answer.body %> -<%= answer.responder.username %>
</li>
<br>
  <% commentable_type = 'Answer' %>
  <% commentable_id = answer.id %>
<%= erb :'comments/new_comment_form', layout: false %>
<br>
<hr>
<br>
