<li id="<%= answer.id %>"><%= answer.body %> -<a href="/users/<%=answer.responder.id%>"><%= answer.responder.username %></a>
</li>
<br>
<% commentable_type = 'Answer' %>
<% commentable_id = answer.id %>
<%= erb :'comments/new_comment_form', layout: false, locals: { commentable_type: commentable_type, commentable_id: commentable_id} %>
<% if answer.comments.any? %>
    <ol id="answer-comment-list">
    <% answer.comments.each do |comment| %>
      <%= erb :'comments/comment', {layout: false, locals: {comment: comment} } %>
    <% end %>
    </ol>
<% end %>
<br>
<div class='answer-votes'>
    <form method="POST", action="/questions/<%= @question.id %>/answers/<%= answer.id %>/votes" class="vote">
      <button id="upvote" type="submit" name="vote" value="1"><font color='"#000000"'>&#9650;</font>
    </form></button>

    <br>
     <div id="score">Vote score: <%= answer.votes.pluck(:vote).sum %>
     </div>
    <br>
    <form method="POST", action="/questions/<%= @question.id %>/answers/<%= answer.id %>/votes" class="vote">
      <button id="downvote" type="submit" name="vote" value="-1"><font color='"#000000"'>&#9660;</font></button>

    </form>
<hr>
<br>
